@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: rgb(255, 248, 248);
}

.wrapper h1{
    font-size: 60px;
    text-align: center;
    color: #6C9EBA;
    margin: 38px 0px;
}

.wrapper h3{
    font-size: 30px;
    text-align: center;
    margin: 89px 0px;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 124px;
    align-items: center;
    grid-gap: 144px;
}

img{
    object-fit: cover;
}

.grid > article{
    box-shadow: 5px 5px 5px 0px gray;
    text-align: center;
    background: transparent;
    border-radius: 20px;
}

.grid > article img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.konten{
    margin: 10px;
    cursor: pointer;
}

.grid > article:hover{
    transform: scale(1.5);
}

@media (max-width:1000px){
    .grid{
        grid-template-columns: repeat(2,1fr);
    }
}
